body {
  text-align: center;
  background: linear-gradient(#111111, #111111, #1dd3b0)/* #111111*/;
  font-family: 'Happy Monkey', cursive;
  font-family: 'Orbitron', sans-serif;
  font-family: 'Permanent Marker', cursive;
}
#header {
  color: #f8f9fa;
  border-radius: 10px;
  width: 700px;
  background: linear-gradient(#111111, #1dd3b0);
  text-shadow: 2px 2px 3px grey;
  margin: 0px auto 60px;
  padding-bottom: 20px;
}
#selfy {
  margin-top: 10px;
  width: 130px;
  border-radius: 20px;
  box-shadow: 0px 0px 5px #f8f9fa;
}
#sections {
  margin: auto;
  width: 700px;
  display: flex;
  justify-content: space-around;
}
.mystuff {
  text-shadow: 2px -2px 3px black;
  background: white;
  border-radius: 10px;
  padding: 0px 10px;
  box-shadow: 3px 3px 5px black;
  margin-bottom: 20px;
}
.mystuff:hover{
  background: #1dd3b0;
}
.my_art {
  width: 100px;
  border-radius: 2px;
  margin: 0px auto 0px;
}
.upper {
  background: #111111;
  border-top: 5px solid #1dd3b0;
  border-bottom: 5px solid #1dd3b0;
  margin: -8px -10px;
  color: #f8f9fa;
}
.bottomer {
  text-shadow: 0px 0px 4px grey;
  width: 700px;
  margin: 40px auto;
  padding: 10px 5px;
  border-top: 2px solid #111111;
  border-bottom: 2px solid #111111;
  color: #f8f9fa;
}
.Sculpting_img {
  display: flex;
  flex-direction: column;
  margin-top:50px;
}
#skull_imgs {
  box-shadow: 0px 0px 4px;
  border-radius: 20px;
  width: 600px;
  margin: 10px auto;
}
.bttns {
  font-weight: bold;
  margin: 10px 10px;
  padding: 5px 10px;
  border-radius: 20px;
  border: 0px;
  box-shadow: 0px 0px 3px;
  cursor: pointer;
}
.bttns:hover{
  background: #111111;
  color: white;
}
.Vectors_img {
  display: flex;
  flex-direction: column;
  margin-top:50px;
}
#vect_imgs {
  background: #f8f9fa;
  box-shadow: 0px 0px 4px;
  border-radius: 20px;
  width: 600px;
  margin: 10px auto;
}
.Freehand_img {
  display: flex;
  flex-direction: column;
  margin-top:50px;
}
#freeh_imgs {
  background: #f8f9fa;
  box-shadow: 0px 0px 4px;
  border-radius: 20px;
  width: 600px;
  margin: 10px auto;
}
.Digitalart_img {
  display: flex;
  flex-direction: column;
  margin-top:50px;
}
#dig_imgs {
  background: #f8f9fa;
  box-shadow: 0px 0px 4px;
  border-radius: 20px;
  width: 600px;
  margin: 10px auto;
}
.contacts {
  margin-bottom: 40px;
}
